* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #2d3e50;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 15px;
    flex-wrap: wrap;
}

.nav div {
    margin: 0 30px;
}

.nav div p {
    margin: 10px;
    font-size: 25px;
}

.NavBar {
    display: flex;
    list-style-type: none;
}

.NavBar li {
    cursor: pointer;
    margin: 10px;

}

.NavBar li:hover {
    color: #1bbc9b;

}

.start {
    background-color: #1bbc9b;
    width: 100%;
    max-height: max-content;
}

.div1 {
    display: flex;
    justify-content: center;
}

.div1 img {
    margin-top: 75px;
    border-radius: 100%;
    width: 200px;
    height: 200px;

}

.div2 {
    display: flex;
    justify-content: center;
}

.div2 b {
    margin-top: 25px;
    color: white;
    font-size: 50px;
}

.icon-star {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-star div {
    position: relative;
}

.icon-star div img {
    width: 25px;
}

.icon-star div::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: white;
    left: 30px;
    top: 10px;
}

.icon-star div::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: white;
    right: 30px;
    top: 10px;
}

.text {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.text p {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.747);
}

.icon-star2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.icon-star2 div {
    position: relative;
}

.icon-star2 div img {
    width: 25px;
}

.icon-star2 div::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    left: 30px;
    top: 10px;
}

.icon-star2 div::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    right: 30px;
    top: 10px;
}

.text-star {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.text-star b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 39px;
}

.main {
    width: 100%;
    max-height: max-content;
}

.main section {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.main section div {
    margin: 10px;
}

.card {
    width: 250px;
    height: 150px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #8B307C 0%, #75A7D3 46%, #6882BB 100%);
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

.text-card {
    font-size: 20px;
    color: black;
    font-weight: 1000;
}

.card:hover .text-card {
    color: goldenrod;
}

.card:hover .html {
    border-radius: 50%;
    box-shadow: 0px 0px 75px 25px black;

}

.ABUOT {
    margin-top: 50px;
    background-color: #1bbc9b;
    width: 100%;
    max-height: max-content;
}

#color-abuot {
    margin-top: 50px;
    color: white;
}

.text-to-abuot {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;


}

.text-to-abuot div {
    width: 20%;
    color: white;
    margin: 25px 0 0 10px;

}

.button {
    display: flex;
    justify-content: center;
}

.c-button {
    width: 175px;
    height: 50px;
    font-weight: 700;
    font-size: 10px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.c-button--gooey {
    margin-bottom: 50px;
    background-color: #1bbc9b;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}

.c-button--gooey .c-button__blobs div {
    background-color: #22ebc3;
    width: 40%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
}

.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}

.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}

.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}

.c-button--gooey:hover {
    color: #fff;
}

.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}

#contact-me {
    margin-top: 15px;
    font-size: 38px;
}

.section-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-family: inherit;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    background-color: #ffffff;
    border-radius: 20px;
}

.form-heading {
    text-align: center;
    margin: 2em;
    color: #000000;
    font-size: 1.2em;
    background-color: transparent;
    align-self: center;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgb(255, 255, 255);
}

.input-field {
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 100%;
    height: 25px;
    color: #030303;
    padding-inline: 1em;

}

.btn {
    display: flex;
    justify-content: center;
}

.sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #22ebc3;
    font-weight: bold;
    outline: 1px solid #22ebc3;
    transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
    transition: all ease-in-out 0.3s;
    background-color: #22ebc3;
    color: #000;
    cursor: pointer;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
    border-radius: 22px;
    transition: all 0.3s;
    width: 500px;
}

.footer {
    width: 100%;
    max-height: max-content;
    background-color: #2d3e50;
}

.div-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px 50px 0px;
}

.div-footer div {
    width: 275px;
    padding: 15px;
    color: white;
}

.div-1 {
    display: flex;
    flex-direction: column;
}

.div-1 b {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 25px;


}

.div-1 p {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.ABOUT-FREELANCER {
    width: 275px;
}

.ABOUT-FREELANCER b {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 20px;
}

.ABOUT-FREELANCER p a {
    color: green;
}

#AROUND {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.icoon-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.example-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.example-1 .icon-content {
    margin: 0 10px;
    position: relative;
    margin-top: 10px;
}

.example-1 .icon-content .tooltip {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 6px 6px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 60px;
}

.example-1 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -35px;
}

.example-1 .icon-content .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.example-1 .icon-content .link:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-1 .icon-content .link svg {
    width: 30px;
    height: 30px;
}

.example-1 .icon-content .link[data-social="Facebook"]:hover {
    color: blue;
}

.example-1 .icon-content .link[data-social="Instagram"]:hover {
    color: #bd081c;
}

.example-1 .icon-content .link[data-social="Linkedin"]:hover {
    color: blue;
}

.example-1 .icon-content .link[data-social="Telegram"]:hover {
    color: #0088cc;
}


@media (max-width:695px) {
    .nav {
        justify-content: center;
    }

    .div2 b {
        text-align: center;
    }

    .text p {
        font-size: 15px;
    }

}

.k {
    display: flex;
    justify-content: center;
    background: #172029;
    color: white;
    padding: 15px 0 15px 0;
    width: 100%;
    max-height: max-content;
}

@media (max-width:930px) {

    .div-footer div {
        margin: 25px;
        padding: 0 75px 0 75px;

    }

    .example-1 .icon-content:hover .tooltip {
        left: 1px;
        top: -60px;
    }

}